
$azul-matla                       : #03a9f4;
$azul-mica                        : #81d4f9;
$azul-tipo                        : #001e3c;
$azul-burbuja                     : #afd5ff;
// secundario
$gris-grafito                     : #607d8b;
// acento
$verde-maya                       : #62d2be;
$verde-cantera                    : #b0e8df;
$verde-pascua                     : #8bc34a;
$verde-pascua-oscuro              : #06a955;
$verde-pascua-claro               : #78d0a3;
// alerta
$amarillo-curcuma                 : #ffc107;
// acción negativa
$rojo-grana                       : #f44336;
$rojo-grana-oscuro                : #9d2b23;
$rojo-grana-claro                 : #ff7961;

// Background general
$gris-piedra                      : #eceff1;

// Tipografía
$gris-tlille                      : #455a64;

// Relleno de formas
$neutro-claro                     : #d3e3ec;

// Fondo claro
$blanco-arcilla                   : #f7f7f7;
// Fondo
$blanco-plomo                     : #f2f7f9;
// Tono
$blanco-goma                      : #eef8fe;
// Tono
$neutro                           : #a8c7d9;

// Tono
$azul-mica                        : #81d4f9;
// Tono o énfasis
$verde-cantera                    : #b0e8df;
// Contornos | Inactive
$gris-ceniza                      : #dfe5e8;
// Contornos
$gris-plata                       : #afbec5;
// Tono
$gris-colado                      : #a6b7be;

// new colors from figma
$french-pass                      : #c3ecfe;
$interactive                      : #026997;

$ad-dark-gray                     : #4c4c4c;
$ad-darker-gray                   : #414141;
$ad-slate-gray                    : #a8c7d9;
$ad-vanilla                       : #fffff5;

$ad-sky-blue                      : #3472b4;
$ad-cloud-blue                    : #8e9faf;
$ad-strong-green                  : #3ea71c;
$ad-strong-orange                 : #ffa500;
$ad-strong-red                    : #c0392b;

$ad-light-red                     : #ee7f75;
$ad-light-green                   : #82c082;
$ad-light-orange                  : #ffc864;
$ad-light-blue                    : #6ca6b9;
$ad-light-grey                    : #e7e7e7;

$ad-light-teal                    : #62d2be;
$ad-dark-contrast-green           : #4ad29e;
$ad-dark-contrast-green-darker    : #3cbb8b;
